<script>
    function fnSelectProduct($row, product_id, product_name) {

        $('#product_name').text(product_name);
        $('#admin_recommend_Product').val(product_id);

        // モーダル閉じる.
        $('#searchProductModal').modal('hide');
        return false;
    }

    // 商品検索
    $('#pagination_wrap a').on('click', function(event) {
        var list = $('#searchProductModalList');
        list.children().remove();
        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: $(this).attr('href'),
            success: function(data) {
                $('#searchProductModalList').html(data);
            },
            error: function() {
                alert('paginator failed.');
            }
        });
        event.preventDefault();
    });
</script>
<div class="table-responsive">
    <table class="table">
        <tbody>
        {% for Product in pagination %}
            <form name="product_form{{ Product.id }}">
                {% set form = forms[Product.id] %}

                <tr>
                    <td>
                        {{ Product.name }}
                        {% if Product.hasProductClass %}
                            <span><br/>{{ Product.code_min }}～{{ Product.code_max }}</span>
                        {% else %}
                            <span><br/>{{ Product.code_min }}</span>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <button onclick="fnSelectProduct($(this).parent().parent(), {{ Product.id }},  '{{ Product.name }}')" type="button" class="btn btn-default btn-sm">
                            決定
                        </button>
                    </td>
                </tr>
            </form>
        {% endfor %}

        </tbody>
    </table>
    {% if pagination.totalItemCount > 0 %}
        {% include "pager.twig" with {'pages': pagination.paginationData, 'routes': 'admin_recommend_search_product_page'} %}
    {% endif %}
</div>
